# .clang-format
BasedOnStyle: Google
Language: Cpp

# 缩进与排版
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
ContinuationIndentWidth: 4
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Allman
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterStruct: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

# 空格与对齐
SpacesInParentheses: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
PointerAlignment: Left

# 换行控制
KeepEmptyLinesAtTheStartOfBlocks: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false

# 头文件排序与分组
SortIncludes: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^".*\.h"'
    Priority: 2
  - Regex: '.*'
    Priority: 3

# 命名与注释
DerivePointerAlignment: true
Cpp11BracedListStyle: true
ReflowComments: false
AlignTrailingComments: true